@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Салон красоты "Вы ужасны"!</h1>
    <img src="https://i.pinimg.com/originals/34/da/64/34da64357c836218b833f3b5daeed7c1.jpg" alt="Beauty Salon" width="600" height="550"/>
</div>

   

